@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Fontdiner+Swanky&family=Monoton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Glitch&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background: var(--white);
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a  {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* NAV-BAR */

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    color: var(--white);
    position: fixed; 
    top: 0;
    z-index: 10;
    width: 100%;
    height: 7rem;
    padding: 0 3rem;
}

.nav-bar a {
    color: var(--white);
    padding: 1rem 2rem;
    margin: 0 .5rem;
}

.nav-bar a:hover {
    border-bottom: 2px solid var(--warning);
}

.nav-bar ul {
    display: flex;
}

.nav-bar .brand {
    font-weight: 400;
}

.nav-bar h1 {
    font-size: 3rem;
}

.nav-bar span {
    color: var(--warning);
}

/* MAIN-HEADER */ 

.main-header {
    background-image: url(../IMG/bg-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--white);
    position: relative;
}

.main-header.blog {
    background-image: url(../IMG/bg-2.jpeg);
    height: 75vh;
}

.main-header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 5;
}

.main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
}

.main-header .content h1 {
    font-size: 5.5rem; 
}

.main-header .content p {
    font-size: 2.3rem;
    max-width: 60rem;
    margin: 2rem 0 3rem;
}

/* ICONS - SERVICES */

.icons {
    padding: 3rem;
}

.icons h3 {
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.icons i {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    margin-bottom: 1.5rem;
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
}

/* ABOUT */

.about {
    color: var(--white);
}

.about h2 {
    font-size: 4rem;
    font-weight: 400;
}

.about p {
    margin: 2rem 0;
}

/* ARTICLES */

#blogs {
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin: 2rem 0;
}

#blogs>article {
    margin: 1rem 3rem;
}

.article {
    color: var(--white);
}

.article h2 {
    font-size: 4rem;
    font-weight: 400;
}

.article p {
    margin: 2rem 0;
}

/* GALLERY */

.gallery img:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* CARDS */

.card {
    color: var(--white);
    font-weight: 700;
}

.card-body {
    padding: 2rem;
}

/* TEAM */

.team img {
    border-radius: 50%;
}

.team img:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* CONTACT */

.contact h2 {
    font-size: 4rem;
}

.contact-form {
    width: 100%;
    padding: 2rem 0;
}

.contact-form label {
    display: block;
    margin-bottom: .5rem;
}

.contact-form .form-control {
    margin-bottom: 1.5rem;
}

.contact-form input {
    width: 100%;
    padding: 5px;
    height: 40px;
    border: 1px solid #f5f5f5;
}

.contact-form .btn {
    margin-top: 20px;
    width: 100%;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer a {
    color: var(--danger);
    margin-right: 10px;
}

.footer a:hover {
    opacity: 0.7;
}

/* MOBILE / MEDIA */

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    .nav-bar {
        flex-direction: column;
        height: 12rem;
        padding: 2rem;
    }
    .nav-bar a {
        padding: 1rem;
        margin: 0 0.3rem;
    }
    .team img {
        width: 70%;
    }
}